/* Container for each team member */
.teamMember {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f9f9; /* Light background */
    padding: 20px;
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds shadow for depth */
    min-width: 250px; /* Minimum width for each card */
    min-height: 300px; /* Minimum height for each card */
    text-align: center; /* Centers the text */
  }
  .teamMember:hover{
    transform: scale(1.05); /* Makes the LinkedIn icon slightly larger on hover */
    background-color:#c9c9c9;
    .role{
      color:#333;
    }
  }
  
  /* Uniformly sized circular image */
  .uniformSize {
    width: 100px;
    height: 100px;
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover; /* Ensures the image covers the circle */
    margin-bottom: 10px; /* Adds space between image and text */
  }
  
  /* Name styling */
  .name {
    font-size: 18px;
    color: #333;
    margin-top: 10px;
    a{
      text-decoration: none;
      color:black;
    }
    a:hover{
      color: #ffc425;
      text-shadow: #333;
    }
  }
  .name:hover {
    transform: scale(1.2); /* Slight zoom effect on hover */
    color: #ffc425;
  }
  
  /* Role styling */
  .role {
    font-size: 16px;
    color: #666;
    margin-top: 5px;
  }
  
  /* LinkedIn icon styling */
  .linkedinIcon {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    transition: transform 0.3s; /* Smooth transition for hover effect */
  }
  
  .linkedinIcon:hover {
    transform: scale(1.1); /* Makes the LinkedIn icon slightly larger on hover */
  }
  