.toolTechGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Create 2 columns */
    gap: 20px;
    padding: 20px;
    justify-items: center;
  }
  
  @media (max-width: 768px) {
    .toolTechGrid {
      grid-template-columns: 1fr; /* 1 column for smaller screens */
    }
  }
  